.imgDiv{
    width: 226px;
    margin: 10px;
    padding: 13px;
	padding-bottom: 18px;
    border-radius: 20px;
    background-size: cover;
    background: url(../images/bg4.png);
	display: inline-block;
}

#pics{
	
}

#add-topic{
	margin-left: 10px;
	color: lightblue;
	background: darkblue;
}

#container {

}

#buttons{
	margin: 5px;
	display: inline-block;
	z-index: 99;
}

.buttonDiv{
	display: inline-block;
	margin: 5px;
	z-index: 99;
}

.gif{
	border-radius: 10px;
}

.rating {
	float: right;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.search {
	width: 300px;
	margin: 10px;
}

body{
	margin-left: 20px;
	background-image: url(../images/bg3.png);

}

.topicButton {

}

.srcButton {
	float: left;
    position: relative;
    top: 11px;
    border-radius: 10px;
}

.form-group {
	margin-top: 20px;
    margin-bottom: 0;
    /* margin-bottom: 15px; */
    /* margin: 30px; */
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    width: 600px;
    border-color: lightcyan;
    display: inline-block;
    /* border: white; */
}

.limit{
	width: 150px;
	margin-right: 20px;
}

#updateDiv{
    margin-left: 102px;
}